*{
	padding: 0;
	margin: 0;
}
.menu{
	position: fixed;
 	background-image: linear-gradient(to right, #008fa2, #00a2ad, #00b6b3, #00c9b4, #00dbb0);
   	width: 100%;
	height: 3.8em;
}

.menu__botones{
	padding-top: 3px;
	text-align: center;
}

a{
	text-decoration: none;
	font-size: 1.3em;
	font-family: 'Yuji Mai', serif;	
	color: #00697f;
}


/* From uiverse.io by @hritik5102 */
button {
  position: relative;
  font-weight: 600;
  height: 50px;
  padding: 12px 20px;
  outline: none;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 40px;
}

button:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 7px;
  left: 7px;
  height: 100%;
  background-color: #d1fae0;  
  z-index: -1;
  transition: all 0.35s;
  border-radius: inherit;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

.espacio_en_blanco{
  height: 3.8em;
  width: 100%;
}

.fondo{
  position: fixed;
  z-index: -1;
  margin-top: 3.8em;
  width: 100%;
  height: 100%;
  background-image: url(../fotos/autumn-butterflies.gif);
  opacity: 70%;
}

.contenido{
  text-align: center;
}

video{

}

h2{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #53CAA8;
}

p{
  color: #000;
  font-size: 1.3em;
}
